[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pycodestyle = "*"
isort = "*"

[packages]
epitran = "*"
pandas = "*"
librosa = "*"
plotly = "*"
torch = "*"
scikit-image = "*"
nltk = "*"
matplotlib = "*"
tqdm = "*"
dragonmapper = "*"
ipapy = "*"
inflect = "*"
wget = "*"
numpy = "*"
gdown = "*"
scikit-learn = "*"
numba = "*"
scipy = "*"
tensorboard = "*"
Unidecode = "*"
Pillow = "*"
cmudict-parser = {editable = true, ref = "master", git = "git@github.com:stefantaubert/cmudict-parser.git"}

[requires]
python_version = "3.8"
